* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 2244px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(./images/desktop.jpg);
  background-repeat: no-repeat;
}

.grid {
  background-image: url(./images/desktop02.jpg);
}

.button {
  opacity: 70%;
  padding: 10px 20px;
  text-align: center;
  width: 100px;
  color: white;
  background-color: #208C6E;
  border-radius: 30px;
  cursor: pointer;
  margin: 100px;
  font-family: pretendard;
  font-weight: 300;
}

@media (max-width: 720px) {
  .container {
    width: 100vw;
    height: 1874px;
    margin: 0 auto;
    background-image: url(./images/tablet.jpg);
  }

  .grid {
    background-image: url(./images/tablet02.jpg);
  }
}

@media (max-width: 360px) {
  .container {
    width: 100vw;
    height: 1963px;
    margin: 0 auto;
    background-image: url(./images/mobile.jpg);
  }

  .grid {
    background-image: url(./images/mobile02.jpg);
  }

  .button {
    margin: 50px;
  }
}